* {
  box-sizing: border-box;
}

body {
  display: flex;
  /* height: 100vh; */
  justify-content: center;
  align-items: center;
  margin: 0;
  flex-direction: column;
  font-family: 'Inter', sans-serif;
  background-color: #f5f5f5;
}

canvas {
  border: 2px solid steelblue;
  margin-top: 1rem;
}

.toolbox {
  display: flex;
  align-items: flex-start;
  justify-content: start;
  width: 700px;
  background-color: steelblue;
  font-size: 1.6rem;
  padding: .5rem;
}

.toolbox > * {
  width: 40px;
  height: 40px;
  border: none;
  font-size: inherit;
  background-color: #fff;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: .25rem;
}

.toolbox :last-child {
  margin-left: auto;
}
